################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_2
/Lab_3
/Lab_4/.vs/Lab_4/v17
/Lab_4/Lab_4.vcxproj.user
/Lab_4/Lab_4.vcxproj.filters
/Lab_4/Lab_4.vcxproj
/Lab_4/Lab_4.sln
/Lab_4/x64/Debug
/Lab_4/.vs/Lab_4
