################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_2/.vs/Lab_2/v17
/Lab_2/Lab_2.sln
/Lab_2/Lab_2/Lab_2.vcxproj.user
/Lab_2/Lab_2/Lab_2.vcxproj.filters
/Lab_2/Lab_2/Lab_2.vcxproj
/Lab_2/Lab_2.vcxproj.user
/Lab_2/Lab_2.vcxproj.filters
/Lab_2/Lab_2.vcxproj
/Lab_2/x64/Debug
/Lab_2/.vs/Lab_2
